#wpatg {
  max-width: 800px;
}

#wpatg ul.menu {
  display: flex;
  margin: 0px;
  padding: 0px;
}

#wpatg ul.menu li {
  display: block;
}

#wpatg form {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#wpatg form > div {
  padding: 5px 5px 20px 5px;
  margin: 0px 0px 20px;
  width: 100%;
}

#wpatg form > div:nth-child(even) {
  border-bottom: 1px solid red;
}

#wpatg form > div:nth-child(odd) {
  padding: 5px;
  margin: 5px;
}
@media (min-width: 650px) {
  #wpatg form > div:nth-child(odd) {
    width: calc(25% - 10px);
    border-bottom: 1px solid red;
    padding: 5px 5px 20px 5px;
    margin: 0px 0px 20px;
  }

  #wpatg form > div:nth-child(even) {
    width: calc(75% - 10px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
  }
}

#wpatg form select {
  max-width: 100%;
}

#wpatg form > div:nth-child(odd) h2 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 200;
  text-transform: uppercase;
} 

#wpatg form > div:nth-child(odd) p {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 200;
} 

#wpatg form > div:last-child {
  width: 100%;
  border: none;
  text-align: center;
}

@media (min-width: 650px) {
  #wpatg form > div:nth-child(even) > * {
    width: calc(50% - 10px);
  }
}

#wpatg form > div#interests:nth-child(even) > *:last-child/* ,
#wpatg form > div#companies:nth-child(even) > *:last-child*/ {
  width: calc(100% - 10px);
}

#wpatg #newsletters img {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

#wpatg #newsletters label {
  margin: 0px;
  padding: 0px 0px 10px 20px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 200;
}

#wpatg #newsletters label input[type=checkbox] {
  margin-left: -20px;
}

#wpatg #newsletters p {
  margin: 0px;
  padding: 0px 0px 30px 20px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 200;
}

#wpatg #notifications > div {
  width: 100%;
}

@media (min-width: 650px) {
  #wpatg #notifications > div > div {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
  }

  #wpatg #notifications > div > div > label {
    width: calc(50% - 10px);
  }
}






#wpatg #archive {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

#wpatg #archive > a {
  display: block;
  width: calc(100% - 20px);
  background: #000 none no-repeat;
  border: 1px solid #000;
  font-weight: 600;
  padding: 10px 20px 460px;
  font-size: 16px;
  color: #fff;
  transition: background 0.3s;
  margin: 0px 0px 5px 0px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 650px) {
  #wpatg #archive > a { width: calc(50% - 20px); }
}
@media (min-width: 1200px) {
  #wpatg #archive > a { width: calc(25% - 20px); }
}
#wpatg #archive > a:hover {
  background-color: #333;
  border-color: #333;
  color: #fff !important
}
#wpatg #archive > a > span {
  display: block;
  background: #fff none no-repeat;
  background-size: 100% auto;
  height: 450px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 450px;
  width: 100%;
}





#wpatg #tasks {
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#wpatg #tasks > * {
  width: calc(100% - 10px);
}

@media (min-width: 650px) {
  #wpatg #tasks {
    gap: 10px;
  }
  #wpatg #tasks > * { width: calc(33.33% - 10px); }
}

#wpatg #tasks > div ul {
  margin: 0px;
  padding: 0;
}

#wpatg #tasks > div ul li {
  font-size: 18px;
  line-height: 120%;
	list-style-type: none;
	position: relative;
	padding: 0px 0px 10px 15px;
	margin: 0;
}

#wpatg #tasks > div#uncompleted ul li {

  color: red;
}

#wpatg #tasks > div#uncompleted ul li:after {
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 20px;
	top: 1px;
	left: 0px;
	clip-path: polygon(
		9% 15%,
		36% 46%,
		7% 75%,
		18% 82%,
		44% 56%,
		61% 68%,
		69% 58%,
		55% 46%,
		84% 19%,
		75% 10%,
		43% 39%,
		16% 10%
	);
	background-color: red;
}

#wpatg #tasks > div#completed ul li {
  color: green;
}

#wpatg #tasks > div#completed ul li:after {
	content: "";
	display: block;
	position: absolute;
	height: 10px;
	width: 10px;
	top: 5px;
	left: 0px;
	clip-path: polygon(
		38% 11%,
		25% 18%,
		15% 31%,
		12% 44%,
		14% 60%,
		18% 76%,
		26% 86%,
		40% 91%,
		53% 93%,
		69% 88%,
		84% 82%,
		92% 71%,
		96% 62%,
		97% 46%,
		97% 33%,
		94% 23%,
		86% 17%,
		73% 11%,
		58% 8%,
		55% 18%,
		66% 22%,
		79% 31%,
		86% 44%,
		85% 59%,
		78% 72%,
		64% 76%,
		52% 80%,
		38% 77%,
		28% 69%,
		24% 56%,
		23% 43%,
		26% 32%,
		33% 27%,
		43% 22%
	);
	background-color: green;
}

#wpatg #tasks .advise{
  padding: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

#wpatg #tasks .advise span {
  display: block;
  font-weight: 700;
}

#wpatg .chartbar {
  margin: 0px auto 10px;
  font-size: 20px;
  line-height: 120%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  --colorbg: red;
  --color: green;
  --percent: 0%;
  --size: 200px;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(90deg, var(--color) 0%, var(--color) var(--percent), var(--colorbg) var(--percent));
}

#wpatg .chartbar span {
  display: block;
  font-size: 40px;
  line-height: 120%;
  width: 100%;
  text-align: center;
}


#wpatg_banner {
  border: 1px solid red;
}